// animation SVG
.svg {
	position: absolute;
	bottom: -68px;
	left: 210px;

	.animPath {
		stroke-dasharray: 2181px;
		stroke-dashoffset: 0;
		animation: anim-line 2s linear forwards;
		animation-delay: 4.5s;
	}

	@keyframes anim-line {
		to {
			stroke-dashoffset: -2181px;
		}
	}
}

// animation Form
.form__item:nth-child(1) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: .5s;
}

.form__item:nth-child(2) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 1s;
}

.form__item:nth-child(3) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 1.5s;
}

.form__item:nth-child(4) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 2s;
}

.form__item:nth-child(5) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 2.5s;
}

.form__item:nth-child(6) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 3s;
}

.form__item:nth-child(7) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 3.5s;
}

.form__item:nth-child(8) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 4s;
}

@keyframes item-1 {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

// btn-animation 
.btn-animation {
	animation: cycle 1.5s linear forwards;
}

@keyframes cycle {
	0% {
		transform: rotate(0) translate(0, 0);
	}

	10% {
		transform: rotate(5deg) translate(0, -2px);
	}

	15% {
		transform: rotate(-3deg) translate(0, -2px);
	}

	20% {
		transform: rotate(5deg) translate(0, -2px);
	}

	25% {
		transform: rotate(-3deg) translate(0, -2px);
	}

	30% {
		transform: rotate(5deg) translate(0, -2px);
	}

	35% {
		transform: rotate(-3deg) translate(0, -2px);
	}

	40% {
		transform: rotate(0) translate(0, 0);
	}
}