@import '_variables.scss';
@import '_mixins.scss';

.choices {
	display: flex;
	width: 100%;
	margin-bottom: 0;
	z-index: 2;
}


.choices[data-type*=select-one] .choices__inner {
	padding-bottom: 0;
}

.choices__inner {
	display: flex;
	width: 100%;
	background-color: inherit;
	padding: 0;
	border: none;
	border-bottom: 0.7px solid $gray-light;
	border-radius: 0;
	font-size: 14px;
	line-height: 16px;
	min-height: 100%;
	overflow: hidden;
}

.choices__list--single {
	display: inline-block;
	padding: 5px 0 6px;
	width: 100%;
}

.choices[data-type*=select-one]:after {
	width: 8px;
	height: 4px;
	border: none;
	right: 0;
	background-image: url('../images/arrow.svg');
	z-index: 5;
}

.choices[data-type*=select-one].is-open:after {
	width: 8px;
	height: 4px;
	border: none;
	background-image: url('../images/arrow.svg');
	transform: rotate(180deg);
	transform-origin: bottom;
	z-index: 5;

}

.choices__list--dropdown {
	visibility: hidden;
	position: absolute;
	width: 100%;
	background-color: #fff;
	border: none;
	border-bottom: 0.7px solid $gray-light;
	top: 33px;
	margin-top: -5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	z-index: 10;
}

.choices__list--dropdown .choices__item {
	position: relative;
	padding: 8px 0;
	font-size: 14px;
	z-index: 99;
}

.choices__item.choices__item--choice.is-selected {
	display: none;
}

.choices__item.choices__item--choice.choices__placeholder {
	display: none;
}

.choices__list.choices__list--dropdown.is-active {
	max-height: 161px;
}