@import '_variables.scss';
@import '_reset.scss';
@import '_fonts.scss';
@import '_mixins.scss';

body {
	width: 100%;
	height: 100%;
	background-color: $background;
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

.signup {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	max-width: 665px;
	min-height: 480px;
	display: flex;
	margin: 0 auto;

	.signup__background {
		display: flex;
		width: 137px;
		justify-content: flex-end;
		padding: 0 5px 22px 0;
		background-color: $blue;

		.signup__title {
			font-weight: 400;
			font-size: 49px;
			line-height: 63px;
			letter-spacing: 0.5px;
			font-family: 'PT Sans Regular';
			font-style: normal;
			font-weight: 400;
			font-size: 49px;
			line-height: 63px;
			letter-spacing: 0.5px;
			color: $white;
			transform: rotate(180deg);
			writing-mode: vertical-rl;

		}
	}

	.signup__form {
		display: flex;
		width: 100%;
		flex-direction: column;
		padding: 39px 22px 32px 21px;
		background-color: $white;
		background-image: url('../images/Shape.svg');
		background-repeat: no-repeat;
		background-position: 200px 130px;

		.form__title {
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
			letter-spacing: -0.48px;
			color: $text-color;
		}

		.form__descr {
			@include text ($color: $text-color);
			margin-bottom: 20px;
			letter-spacing: -0.36px;
			line-height: 14px;
		}
	}
}



.form__block {
	display: flex;
	flex-direction: column;
	height: 100%;

	.form__item {
		display: flex;
		flex-direction: column;

		.fieldset__legend {
			@include text-light ($color: $gray);
		}

		.form__label {
			@include text-light ($color: $gray);
		}

		.form__input {
			outline: none;
			border: none;
			border-bottom: 0.7px solid $gray-light;
			background-color: inherit;
			padding: 5px 0 6px;
			@include text($color: $text-color);
		}
	}
}

.fieldset__list {
	display: flex;

	.fieldset__item {
		display: flex;
		align-items: center;

		.fieldset__label {
			@include text($color: $text-color);
		}
	}

	.fieldset__item:not(:last-child) {
		margin-right: 19px;
	}
}



.form__complete {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;

	.complete__Login {
		font-weight: 200;
		font-size: 13px;
		line-height: 15px;
		color: $text-color;

		.complete__link {
			font-weight: 500;
			color: $blue;
			text-decoration: underline;
		}

	}

	.complete__btn {
		padding: 7px 26px;
		background-color: $blue;
		@include text ($color: $white);
	}
}