@import '_variables.scss';
@import '_reset.scss';
@import '_fonts.scss';
@import '_mixins.scss';
@import '_select.scss';
@import'_radio_btn.scss';

body {
	width: 100%;
	height: 100%;
	background-color: $background;
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

.signup {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	max-width: 665px;
	min-height: 480px;
	display: flex;
	margin: 0 auto;

	.signup__background {
		display: flex;
		width: 20.5%;
		justify-content: flex-end;
		padding: 0 5px 22px 0;
		background-color: $blue;

		.signup__title {
			font-weight: 400;
			font-size: 49px;
			line-height: 63px;
			letter-spacing: 0.5px;
			font-family: 'PT Sans Regular';
			font-style: normal;
			font-weight: 400;
			font-size: 49px;
			line-height: 63px;
			letter-spacing: 0.5px;
			color: $white;
			transform: rotate(180deg);
			writing-mode: vertical-rl;

		}
	}

	.svg {
		position: absolute;
		bottom: -68px;
		left: 210px;

		.animPath {
			stroke-dasharray: 2181px;
			stroke-dashoffset: 0;
			animation: anim-line 2s linear forwards;
			animation-delay: 4.5s;
		}

		@keyframes anim-line {
			to {
				stroke-dashoffset: -2181px;
			}
		}
	}

	.signup__form {
		position: relative;
		overflow: hidden;
		display: flex;
		width: 79.5%;
		flex-direction: column;
		padding: 39px 22px 32px 21px;
		background-color: $white;

		.form__registered {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.form__title {
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
			letter-spacing: -0.48px;
			color: $text-color;
		}

		.form__descr {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			@include text ($color: $text-color);
			margin-bottom: 17px;
			letter-spacing: -0.36px;
			line-height: 19px;
		}
	}
}

.form__success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;

	.success__hgroup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding-left: 42px;

		.success__title {
			margin-bottom: 11px;
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
			letter-spacing: -0.46px;
			color: $text-color;
		}

		.success__descr {
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: $text-color;

		}
	}

	.success__Login {
		margin-right: 30px;
		font-weight: 200;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.19px;
		color: $text-color;

		.success__link {
			font-weight: 500;
			color: $blue;
			text-decoration: underline;
			transition: all 0.2s ease-in;
		}

		.success__link:hover {
			color: $blue-hover;
		}
	}


}

.form__block {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	z-index: 7;
}

.form__List {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 13.5px;
	row-gap: 16px;
	margin-bottom: 20px;

	.form__item {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;

		.fieldset__legend {
			@include text-light ($color: $gray);
		}

		.form__label {
			@include text-light ($color: $gray);
		}

		.form__input:focus {
			border-bottom: 0.7px solid #ddd;
		}

		.form__input {
			outline: none;
			border: none;
			border-bottom: 0.7px solid $gray-light;
			background-color: inherit;
			padding: 5px 0 6px;
			@include text($color: $text-color);
		}

		.form__input._error {
			border-bottom: 2px solid $red;
		}

		.form__input._email._error {
			color: $red;
		}

		.form__input.password {
			font-size: 16px;
		}

		.error-text {
			position: absolute;
			bottom: -15px;
			left: 0;
			font-size: 10px;
			color: $red;
			z-index: 6;
		}
	}
}

// animation
.form__item:nth-child(1) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: .5s;
}

.form__item:nth-child(2) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 1s;
}

.form__item:nth-child(3) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 1.5s;
}

.form__item:nth-child(4) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 2s;
}

.form__item:nth-child(5) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 2.5s;
}

.form__item:nth-child(6) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 3s;
}

.form__item:nth-child(7) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 3.5s;
}

.form__item:nth-child(8) {
	transform: translateY(58px);
	opacity: 0;
	animation: item-1 .5s linear forwards;
	animation-delay: 4s;
}

@keyframes item-1 {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}



// 

@media (max-width:768px) {
	.form__List {
		grid-template-columns: 1fr;
	}
}

.fieldset__list.birth-date {
	display: grid;
	grid-template-columns: 24% 38% 1fr;
	grid-template-rows: auto;
	column-gap: 10px;
}


.fieldset__list {
	display: flex;

	.radio__item {
		display: flex;
		align-items: center;

		.radio__label {

			@include text($color: $text-color);
			cursor: pointer;
		}
	}

	.radio__item:not(:last-child) {
		margin-right: 19px;
	}
}

.fieldset__list.radio {
	padding-top: 5px;
}

.form__complete {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;

	.complete__Login {
		margin-top: -5px;
		margin-right: 20px;
		font-weight: 200;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.19px;
		color: $text-color;

		.complete__link {
			font-weight: 500;
			color: $blue;
			text-decoration: underline;
			transition: all 0.2s ease-in;
		}

		.complete__link:hover {
			color: $blue-hover;
		}

	}

	.complete__btn {
		padding: 7px 26px;
		background-color: $blue;
		font-family: 'PT Sans Regular';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: $white;
		transition: all 0.2s ease-in;
	}

	.complete__btn:hover {
		background-color: $blue-hover;
	}
}

@media (max-width:768px) {
	.form__complete {
		flex-direction: column-reverse;
		align-items: flex-start;

		.complete__Login {
			margin: 0;
		}

		.complete__btn {
			margin-bottom: 10px;
		}
	}
}